@{
    ViewData["Title"] = "Home Page";
}
<style>
    .prod{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height:60%;
    }
</style>
<body class="bd">
    <img class="prod" src="/Images/HomePage1.jpg" alt="Product_Photo" >
</body>

